apps/automode/_docs/existing_workflow.json
{
  "name": "Paik AI - 이메일 오케스트레이터",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "paik-orchestrator",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 304],
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook",
      "webhookId": "4ad4b6ab-7190-453c-ac1b-90236a1c1803"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/api/automode/email/classify",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "subject",
              "value": "={{ $json.body.subject ?? '' }}"
            },
            {
              "name": "body",
              "value": "={{ $json.body.body ?? '' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [288, 304],
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "스팸 분류"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-spam-check",
              "leftValue": "={{ $json.is_spam }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [560, 304],
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "스팸 확인"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-source-check",
              "leftValue": "={{ $('Webhook').item.json.body.source }}",
              "rightValue": "gmail",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [848, 144],
      "id": "a1b2c3d4-0009-0009-0009-000000000009",
      "name": "출처 확인"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/api/automode/telegram/send",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ '[새 메일 📬] ' + ($('Webhook').item.json.body.from ?? '알 수 없음') + '\\n제목: ' + ($('Webhook').item.json.body.subject ?? '(제목 없음)') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 0],
      "id": "a1b2c3d4-0010-0010-0010-000000000010",
      "name": "텔레그램 새 메일 알림"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/api/automode/email/send",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $('Webhook').item.json.body.to }}"
            },
            {
              "name": "to_name",
              "value": "={{ $('Webhook').item.json.body.to_name }}"
            },
            {
              "name": "prompt",
              "value": "={{ $('Webhook').item.json.body.prompt }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 288],
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "이메일 발송"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/api/automode/telegram/send",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ '[업무 보고] ' + $('Webhook').item.json.body.to_name + '에게 메일을 정상적으로 발송했습니다 ✅\\n제목: ' + $json.subject }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1392, 288],
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "텔레그램 보고"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/api/automode/telegram/send",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ '[스팸 감지] ' + $('Webhook').item.json.body.subject + ' — 발송 차단됨 🚫' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [848, 464],
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "텔레그램 스팸 경고"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "스팸 분류", "type": "main", "index": 0 }]
      ]
    },
    "스팸 분류": {
      "main": [
        [{ "node": "스팸 확인", "type": "main", "index": 0 }]
      ]
    },
    "스팸 확인": {
      "main": [
        [{ "node": "출처 확인", "type": "main", "index": 0 }],
        [{ "node": "텔레그램 스팸 경고", "type": "main", "index": 0 }]
      ]
    },
    "출처 확인": {
      "main": [
        [{ "node": "텔레그램 새 메일 알림", "type": "main", "index": 0 }],
        [{ "node": "이메일 발송", "type": "main", "index": 0 }]
      ]
    },
    "이메일 발송": {
      "main": [
        [{ "node": "텔레그램 보고", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "5921a633-720a-40d5-bf8c-91091f630fdd",
  "meta": {
    "instanceId": "83c9db0d15224aa7cda91a5af8bad91e9c17b0865dac620587c14e80058aed8c"
  },
  "nodeGroups": [],
  "id": "pf7zq54JWMnHvGbt",
  "tags": []
}
