apps/automode/_docs/n8n_gmail_trigger_workflow.json
{
  "name": "Gmail → Webhook 허브",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [{ "mode": "everyMinute" }]
        },
        "filters": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-subject",
              "name": "subject",
              "value": "={{ $json.subject }}",
              "type": "string"
            },
            {
              "id": "field-body",
              "name": "body",
              "value": "={{ $json.text ?? $json.snippet }}",
              "type": "string"
            },
            {
              "id": "field-from",
              "name": "from",
              "value": "={{ $json.from }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "필드 정규화",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/paik-webhook",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ subject: $json.subject, body: $json.body, from: $json.from }) }}"
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Webhook 허브로 전달",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [{ "node": "필드 정규화", "type": "main", "index": 0 }]
      ]
    },
    "필드 정규화": {
      "main": [
        [{ "node": "Webhook 허브로 전달", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
