apps/automode/_docs/paik_ai_merged.json
{
  "name": "Paik AI - 이메일 오케스트레이터",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gmail-push",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, -600],
      "id": "push-wh01-0001-0001-0001-000000000001",
      "name": "Gmail Push 수신",
      "webhookId": "gmail-push-webhook-id-0001"
    },
    {
      "parameters": {
        "jsCode": "const message = $input.item.json.body?.message || $input.item.json.message || {};\nconst data = message.data || '';\ntry {\n  const decoded = Buffer.from(data, 'base64').toString('utf-8');\n  const parsed = JSON.parse(decoded);\n  return [{ json: { historyId: parsed.historyId, emailAddress: parsed.emailAddress } }];\n} catch (e) {\n  return [{ json: { historyId: null, emailAddress: null, error: e.message } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, -600],
      "id": "push-code-0002-0002-0002-000000000002",
      "name": "Pub/Sub 메시지 파싱"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://gmail.googleapis.com/gmail/v1/users/me/history?startHistoryId={{ $json.historyId }}&historyTypes=messageAdded",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, -600],
      "id": "push-http-0003-0003-0003-000000000003",
      "name": "Gmail 히스토리 조회",
      "credentials": {
        "oAuth2Api": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://gmail.googleapis.com/gmail/v1/users/me/messages/{{ $json.history?.[0]?.messages?.[0]?.id }}?format=metadata&metadataHeaders=Subject&metadataHeaders=From",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, -600],
      "id": "push-http-0004-0004-0004-000000000004",
      "name": "Gmail 메시지 상세",
      "credentials": {
        "oAuth2Api": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.item.json;\nconst headers = msg.payload?.headers || [];\nconst getHeader = (name) => headers.find(h => h.name.toLowerCase() === name.toLowerCase())?.value || '';\nreturn [{ json: {\n  subject: getHeader('Subject') || '(제목 없음)',\n  from: getHeader('From') || '(발신자 없음)',\n  body: msg.snippet || '(내용 없음)',\n  source: 'gmail'\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, -600],
      "id": "push-code-0005-0005-0005-000000000005",
      "name": "이메일 필드 추출"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/paik-orchestrator",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "subject",
              "value": "={{ $json.subject }}"
            },
            {
              "name": "body",
              "value": "={{ $json.body }}"
            },
            {
              "name": "from",
              "value": "={{ $json.from }}"
            },
            {
              "name": "source",
              "value": "gmail"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, -600],
      "id": "push-http-0006-0006-0006-000000000006",
      "name": "Webhook 허브 호출"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "paik-orchestrator",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 304],
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook",
      "webhookId": "4ad4b6ab-7190-453c-ac1b-90236a1c1803"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/api/automode/email/classify",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "subject",
              "value": "={{ $json.body.subject ?? '' }}"
            },
            {
              "name": "body",
              "value": "={{ $json.body.body ?? '' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [288, 304],
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "스팸 분류"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-spam-check",
              "leftValue": "={{ $json.is_spam }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [560, 304],
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "스팸 확인"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-source-check",
              "leftValue": "={{ $('Webhook').item.json.body.source }}",
              "rightValue": "gmail",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [848, 144],
      "id": "a1b2c3d4-0009-0009-0009-000000000009",
      "name": "출처 확인"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/api/automode/telegram/send",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ '[새 메일 📬] ' + ($('Webhook').item.json.body.from ?? '알 수 없음') + '\\n제목: ' + ($('Webhook').item.json.body.subject ?? '(제목 없음)') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 0],
      "id": "a1b2c3d4-0010-0010-0010-000000000010",
      "name": "텔레그램 새 메일 알림"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/api/automode/email/send",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $('Webhook').item.json.body.to }}"
            },
            {
              "name": "to_name",
              "value": "={{ $('Webhook').item.json.body.to_name }}"
            },
            {
              "name": "prompt",
              "value": "={{ $('Webhook').item.json.body.prompt }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 288],
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "이메일 발송"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/api/automode/telegram/send",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ '[업무 보고] ' + $('Webhook').item.json.body.to_name + '에게 메일을 정상적으로 발송했습니다 ✅\\n제목: ' + $json.subject }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1392, 288],
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "텔레그램 보고"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/api/automode/telegram/send",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ '[스팸 감지] ' + $('Webhook').item.json.body.subject + ' — 발송 차단됨 🚫' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [848, 464],
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "텔레그램 스팸 경고"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Push 수신": {
      "main": [
        [{ "node": "Pub/Sub 메시지 파싱", "type": "main", "index": 0 }]
      ]
    },
    "Pub/Sub 메시지 파싱": {
      "main": [
        [{ "node": "Gmail 히스토리 조회", "type": "main", "index": 0 }]
      ]
    },
    "Gmail 히스토리 조회": {
      "main": [
        [{ "node": "Gmail 메시지 상세", "type": "main", "index": 0 }]
      ]
    },
    "Gmail 메시지 상세": {
      "main": [
        [{ "node": "이메일 필드 추출", "type": "main", "index": 0 }]
      ]
    },
    "이메일 필드 추출": {
      "main": [
        [{ "node": "Webhook 허브 호출", "type": "main", "index": 0 }]
      ]
    },
    "Webhook": {
      "main": [
        [{ "node": "스팸 분류", "type": "main", "index": 0 }]
      ]
    },
    "스팸 분류": {
      "main": [
        [{ "node": "스팸 확인", "type": "main", "index": 0 }]
      ]
    },
    "스팸 확인": {
      "main": [
        [{ "node": "출처 확인", "type": "main", "index": 0 }],
        [{ "node": "텔레그램 스팸 경고", "type": "main", "index": 0 }]
      ]
    },
    "출처 확인": {
      "main": [
        [{ "node": "텔레그램 새 메일 알림", "type": "main", "index": 0 }],
        [{ "node": "이메일 발송", "type": "main", "index": 0 }]
      ]
    },
    "이메일 발송": {
      "main": [
        [{ "node": "텔레그램 보고", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5921a633-720a-40d5-bf8c-91091f630fdd",
  "meta": {
    "instanceId": "83c9db0d15224aa7cda91a5af8bad91e9c17b0865dac620587c14e80058aed8c"
  },
  "id": "pf7zq54JWMnHvGbt",
  "tags": []
}
